body{
    padding: 5px;
    margin: 5px;
}

.button{
    background-color: darkmagenta;
    padding: 5px;
    margin: 5px;
    width: 100px;
    color: white
}
.button:hover{
    background-color: blueviolet;
}